<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <application>
        <activity android:name="com.maayys.app.ControllerSettingsActivity"
            android:exported="false" android:label="控制权限设置" />
        <service android:name="com.maayys.app.MaaAgentForegroundService" android:exported="false" android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="User initiated on-device automation task execution" />
        </service>
    </application>
</manifest>